server:
  port: 8080

spring:
  application:
    name: auth-service
  
  datasource:
    url: jdbc:postgresql://terrabond-postgres:5432/terrabond_auth
    username: terrabond
    password: terrabond2026
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  jackson:
    serialization:
      write-dates-as-timestamps: false

terrabond:
  jwt:
    secret: terrabondSecretKey2026TerraBondSecretKey2026ForJWTGeneration
    expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http://terrabond-eureka:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    com.terrabond: DEBUG
    org.springframework.security: DEBUG
